<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yap.yappakistan">

    <application>
        <activity
            android:name="com.yap.yappakistan.ui.auth.main.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Base.Yap.Pk">
            <nav-graph android:value="@navigation/pk_signin_nav_graph"/>
        </activity>
        <activity
            android:name="com.yap.yappakistan.ui.onboarding.main.YapPkMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Base.Yap.Pk" />
    </application>

</manifest>