*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/*
/.idea/assetWizardSettings.xml
/authentication/build/*
/authentication/build
/identityscanner_v2/build
.DS_Store
/build
/captures
.externalNativeBuild
