*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/*
/.idea/codeStyles/*
/.idea/assetWizardSettings.xml
/authentication/build/*
/authentication/build
/coachmark/build
/household/build
/send_money/*
/profile/*
/identityscanner_v2/build
/identityscanner/build
.DS_Store
/build
/captures
/app/stg/release
/.idea/project.xml
/.idea/codeStyles/*
/.idea/codeStyles/Project.xml
.externalNativeBuild
app/~/tmp/full-r8-config.txt
