*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/*
/.idea/codeStyles/project.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/authentication/build/
/captures
.externalNativeBuild
