<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.yap">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".modules.onboarding.activities.LiteDashboardActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/kyc_navigation" />
        </activity>
        <activity
            android:name=".modules.dashboard.main.activities.YapDashboardActivity"
            android:screenOrientation="portrait">
<!--            <nav-graph android:value="@navigation/yap_navigation" />-->
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".modules.onboarding.activities.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <nav-graph android:value="@navigation/onboarding_navigation" />
        </activity>

        <activity
            android:name=".modules.onboarding.activities.CreatePasscodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.onboarding.activities.InformationErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.onboarding.activities.EidInfoReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.kyc.activities.DocumentsDashboardActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/kyc_navigation" />
        </activity>
        <activity
            android:name=".modules.dashboard.cards.addpaymentcard.activities.AddPaymentCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <nav-graph android:value="@navigation/spare_cards_navigation" />
        </activity>
        <activity
            android:name=".modules.others.unverifiedemail.UnVerifiedEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <nav-graph android:value="@navigation/unverified_change_email_navigation" />
        </activity>

        <activity
            android:name=".modules.dashboard.more.main.activities.MoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <nav-graph android:value="@navigation/more_main_navigation" />
        </activity>

        <activity
            android:name=".modules.dashboard.cards.reportcard.activities.ReportLostOrStolenCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <nav-graph android:value="@navigation/report_card_navigation" />
        </activity>

        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.addfunds.activities.AddFundsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--<activity-->
        <!--android:name=".modules.kyc.activities.AddressSelectionFragment"-->
        <!--android:screenOrientation="portrait"/>-->

        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.activities.PaymentCardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.removefunds.activities.RemoveFundsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.activities.ChangeCardPinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.limits.activities.CardLimitsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.activities.UpdateCardNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.statments.activities.CardStatementsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.dashboard.more.bankdetails.activities.BankDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.others.fragmentpresenter.activities.FragmentPresenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />

        <activity
            android:name=".modules.transaction_filters.activities.TransactionFiltersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.dashboard.transaction.activities.TransactionDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modules.transaction_note.activities.TransactionNoteActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".modules.dashboard.cards.paymentcarddetail.forgotcardpin.activities.ForgotCardPinActivity"
            android:screenOrientation="portrait"/>


    </application>
</manifest>