<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.yap.wallet">


    <application
        android:allowBackup="false"
        tools:remove="android:debuggable"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="debug_mode"
            android:value="Y" />
<!--        <meta-data-->
<!--            android:name="spay_debug_api_key"-->
<!--            android:value="98413ff2c07e4883a5c5981823db8a6b" />-->
                <meta-data
                    android:name="spay_debug_api_key"
                    android:value="a9bde6e6ec48490f8e714be8a3d80d3b" />
        <meta-data
            android:name="spay_sdk_api_level"
            android:value="2.14" />
    </application>

</manifest>
