<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.yap.app">

    <application
        android:name=".AAPApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme,android:allowBackup">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="co.yap.app.OPEN_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="co.yap.modules.forgotpasscode.activities.ForgotPasscodeActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/forgot_passcode_navigation" />
        </activity>

        <activity
            android:name="co.yap.modules.dashboard.yapit.y2y.home.activities.YapToYapDashboardActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/yap_to_yap_navigation" />
        </activity>
        <activity
            android:name=".modules.login.activities.VerifyPassCodePresenterActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"
            tools:replace="android:value" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--android:name="com.leanplum.LeanplumPushFirebaseMessagingService"-->
        <service
            android:name="co.yap.app.service.CustomFirebaseMessagingService"
            android:exported="false"
            android:protectionLevel="signature">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>