<?xml version="1.0" encoding="utf-8"?><manifest package="co.yap.household"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--        <activity android:name=".onboarding.OnboardingActivity" />-->
        <activity
            android:name=".onboarding.OnboardingHouseHoldActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <nav-graph android:value="@navigation/hh_sub_account_onboarding_navigation" />
        </activity>
        <activity
            android:name=".onboarding.onboarding.fragments.HouseHoldCardsSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name="co.yap.household.onboarding.kycsuccess.KycSuccessActivity" />
        <activity android:name="co.yap.household.onboarding.onboarding.EIDNotAcceptedActivity" />
        <activity
            android:name=".onboarding.dashboard.main.activities.HouseholdDashboardActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
